#submit {
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: black;
}

.movieTable {
  color: cyan;
  text-shadow: 2px 2px 5px black;
}

#table {
  background-image: url('./assets/vocalPercussion.gif');
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
  font-size: 75px;
  -webkit-animation: colorchange 10s;
  infinite: alternate;
}

    @-webkit-keyframes colorchange {
      0% {
        
        color: red;
      }
      
      10% {
        
        color: orange;
      }
      
      20% {
        
        color: yellow;
      }
      
      30% {
        
        color: green;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: purple;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: green;
      }
      80% {
     
        color: yellow;
      }
      
      90% {
     
        color: orange;
      }
      
      100% {
        
        color: red;
      }
    }